{% extends 'base.html' %}
{% import 'macros.html' as macro %}

{%block content%}
<div class="jumbotron text-center" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQw3w-a3Ok-Rw1aM8vujUV04CqzQkCuoSygCQ&usqp=CAU); color:black; padding: 100px 25px;  background-size: cover;
background-position: center;
background-repeat: no-repeat; 
height: 40%;" >
    <h1>Interview Pitches</h1>
</div>
<div class="container">
    <h1>Interview Pitches</h1>
    <hr>
    <div class="row">
        {{macro.displayPitches(pitches)}}
    </div>
</div>
{%endblock%}